.paragraph--type--team-members {
  margin: 4.375rem 0;

  .viws-row.row,
  .paragraph__header.row {
    --bs-gutter-x: 2.5rem;
    --bs-gutter-y: 2.5rem;
  }

  .paragraph__header {
    margin-bottom: 4.375rem;

    h2 {
      width: fit-content;
      margin: 0 auto;
      padding: 0.4375rem;
      border-radius: 0.4375rem;
      background: #ff1a39;
      font-weight: 500;
    }

    p {
      font-size: 1rem;
      font-weight: 400;

      @include media-breakpoint-up(xl) {
        font-size: 1.125rem;
      }
    }

    @include media-breakpoint-down(xl) {
      margin-bottom: 1.875rem;
      text-align: center;

      &.row {
        --bs-gutter-x: 1.875rem;
        --bs-gutter-y: 1.875rem;
      }
    }
  }
}
