// Add footer styles to this file.
.footer {
  padding: 3.125rem 1.25rem 1.875rem;

  hr {
    opacity: 1;
  }

  .navbar-brand {
    width: fit-content;
    margin: 0 auto;
  }

  .nav.navbar-nav {
    .nav-link {
      text-decoration: underline;
      font-size: 1.125rem;
    }

    &.menu--social-media {
      gap: 1.25rem;

      a {
        position: relative;
        width: 1.875rem;
        height: 1.875rem;
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 0;

        &::after {
          position: absolute;
          content:"";
          top:0;
          left:0;
          width:100%;
          height:100%;
          border-radius: 100%;
          mix-blend-mode: screen;
          transition: all 0.15s ease;
        }

        &:hover {
          &::after {
            background-color: $primary;
          }
        }
      }

      a[href*="facebook"] {
        background-image: url("../images/facebook.svg");
      }

      a[href*="linkedin"] {
        background-image: url("../images/linkedin.svg");
      }

      a[href*="twitter"] {
        background-image: url("../images/twitter.svg");
      }

      @include media-breakpoint-down(xl) {
        flex-direction: row;
      }
    }

    @include media-breakpoint-up(xl) {
      flex-direction: row;
    }
  }

  @include media-breakpoint-up(xl) {
    border-radius: 2.8125rem 2.8125rem 0 0;
    padding: 3.4375rem 3.75rem 3.125rem;
  }

  @include media-breakpoint-down(xl) {
    .col.col-xl-2,
    .menu--footer {
      margin-bottom: 2.1875rem;
    }

    .nav.navbar-nav {
      gap: 0.9375rem;
      text-decoration: none;
    }

    .col-12 {
      text-align: center;
    }
  }
}
