.hero {
  &__grid {
    display: grid;
    row-gap: 2.1875rem;
    grid-template-columns: minmax(0, 33.1875rem) minmax(0, 37.5rem);
    grid-template-rows: repeat(3, auto);
    justify-content: space-between;
  }
  
  &__grid__title,
  &__grid__body,
  &__grid__cta {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &__grid__image {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;

    img {
        width: 100%;
    }
  }
}