.hero {
  &__grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: minmax(0, 33.1875rem) minmax(0, 37.5rem);
    justify-content: space-between;
    row-gap: 2.1875rem;
  }

  &__grid__title,
  &__grid__body,
  &__grid__cta {
    grid-column: 1 / 2;
  }

  &__grid__image {
    grid-row: 1 / 4;
    grid-column-start: 2;

    img {
      width: 100%;
    }
  }
}
